# Dependências
node_modules/
client/node_modules/
server/node_modules/

# Builds e Distribuição
client/dist/
dist/

# Variáveis de Ambiente
.env
.env.local
.env.*.local
server/.env

# Banco de Dados Local SQLite
*.db
*.db-journal
*.db-wal
*.db-shm
server/taskflow.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Firebase cache
.firebase/
